<!--
Page : about.ejs
Name : Azin Katiraee
Student Id : 301251029
Date : Oct 2 , 2022
-->


<!--main content-->

<div class="container mt-3">
    <h2>Azin Katiraee</h2>
    <h5>Software Developer</h5>
    <p>I am 24 years old and a full time student at Centennial College, Canada,ON.
       I am eager to gain more experience in software development field and try to find my way in this industry.
       I enjoy to build and improve applications because it will lead to having problem solving mindset, which is beneficial
       for me even in my personal life.
    </p>
    <img src="/assets/images/personalpics/Picture_Azin.jpg" class="mx-auto d-block " style="width:20%"> 
    <button class="btn btn-link" type="button" >
        <a href="/content/Resume_Azin.pdf" target="_blank"
          style="color:rgb(6, 6, 6); text-decoration: none;">My Resume</a>
    </button>
    </div>
  