<footer>
    <nav class="navbar-dark fixed-bottom bg-dark">
      <div class="container-fluid">
        <span class="navbar-text">
          &copy Copyright 2022. All rights reserved.
        </span>
      </div>
    </nav>
  </footer>