
<!--
Page : home.ejs
Name : Azin Katiraee
Student Id : 301251029
Date : Oct 2 , 2022
-->

<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <p>
            On this website you are going to see My Portfolio</p>
        <button type="button">
            <a href="/about" target="_blank"
              style="color:rgb(6, 6, 6); text-decoration: none;">Know more about me!</a>
          </button>
      </div>




        
       


