
<!--
Page : projects.ejs
Name : Azin Katiraee
Student Id : 301251029
Date : Oct 1 , 2022
-->
<div class="container">
    <h1 style=text-align:center; font-size: 80px;>Projects</h1>

    <div class="row mt-5">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="assets/Music-player.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Music Player</h5>
                  <p class="card-text">In this personal project, I have used HTML5,CSS5,Jquery and bootstrap4 to develop front side of web app.
                    This app was a simple music player.
                  </p>
                </div>
              </div>
        </div>
    
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/online-shop.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Online Shop</h5>
              <p class="card-text">This group project is related to software engineering course in university.We have been assigned to design a web app and determine all use cases, stackholders and draw all relative diagrams.This website was a clothes online shop with different features.
              </p>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="assets/employee-portal.PNG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Employee Portal</h5>
              <p class="card-text">The second personal project was an Employee portal which offers employees to monitor each other during a work day.
               I developed front side of this application. 
                
              </p>
            </div>
          </div>
    </div>
     
    </div>
</div>