<!--
Page : services.ejs
Name : Azin Katiraee
Student Id : 301251029
Date : Oct 4 , 2022
-->



    <!--Main Content-->
    <div class="container mb-5">

        <div style="text-align:center; font-size: 80px;">
          <h1>Services Offered</h1>
         
        </div>
  
  
        <div class="row">
          
          <div class="col-sm-9">
            <h1 class="text-muted">Web Development</h1>
            <p class="services-page-desc">I can offer a number services related to web development including
            backend scripting and front end web designing. I can make neat code with fool-proof design so that the
              related projects can be produced in a way that is precise, convenient and easy-to-handle.</p>
          </div>

          <div class="col-sm-3">
            <img src="/assets/web-development.jpg" alt="service1" width="300px" height="150px">
          </div>
        </div>
  
        <div class="row">
            <div class="col-sm-9">
                <h1 class="text-muted">AI Solutions</h1>
                <p class="services-page-desc">Utalizing AI algoritems for example, machine learning and deep learning to develep 
                    smart programs. </p>
              </div>
         
          <div class="col-sm-3 mt-3">
            <img src="/assets/AI-solutions.jpg" alt="service2" width="300px" height="150px">
          </div>          
        </div>
  
        <div class="row">
          
          <div class="col-sm-9">
            <h1 class="text-muted">Scrum and Agile</h1>
            <p class="services-page-desc">As at college I currently have a project based on Scrum this can give me good understanding about this metadology,
                 I can offer to collaborate with teams based on that.</p>
  
          </div>
          <div class="col-sm-3 mt-3">
            <img src="/assets/scrum-agile.jpeg" alt="service3" width="300px" height="150px">
  
          </div>
        </div>
  
  
      </div>